:root {
    font-family: "Noto Sans", sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    background-color: #242424;
    color: #eaeaea;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

header {
    padding: 0 10%;
}

main {
    width: 100%;
}

main div {
    margin: auto;
}

/* 
    Start screen styling
*/
#start-up {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: center;

    text-align: center;
}

#player-creation {
    display: flex;
    justify-content: space-around;
}

#new-game {
    margin: auto;
}

#game-over {
    position: absolute;
    top: 30%;
    width: 40%;
    margin: auto;
    border-radius: 1em;
    padding: 5em;

    background-color:rgba(36, 36, 36, 0.5);

    text-align: center;
}

#game-over-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#game-over-controls button {
    font-size: 1em;
    width: 40%;
    height: 2em;
    background-color: rgba(240, 240, 240, 0.5);
    border: 2px solid rgba(200, 200, 200, 0.5);
    border-radius: 6px;
}

#in-game {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.player-container {
    padding: 1em;
}

.game-board {
    background-color: #242424;
    display: grid;
    gap: 2px;
    place-content: center center;
}

.tile {
    width: 64px;
    height: 64px;
    background-color: #244288;
    text-align: center;
    font-size: 18pt;
    font-family: monospace;
    color: white;
}

.tile.unknown {
}

.game-board .tile.unknown:hover {
    background-color: rgba(255, 0, 0, 0.672);
}

.tile.empty {
    background-color: #eaeaea;
}

.tile.ship {
    background-color: #242424;
}

.tile.damaged {
    background-color: rgba(255, 0, 0, 0.672);
}

.hidden {
    display: none !important;
}