:root {
    font-family: "Noto Sans", sans-serif;
    font-size: 16pt;

    --bgcolor: #242424;
    --lightbgcolor: #484848;
    --bgcontrast: #eaeaea;
    --active-board-background: #006020;
    --inactive-board-background: #a00000;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #242424;
    color: #eaeaea;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

header {
    padding: 0 10%;
}

#header-title {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0;
    padding: 1em 0;
}

main {
    width: 100%;
}

main div {
    margin: auto;
}

button {
    font-size: 1em;
    height: 2em;
    background-color: rgba(240, 240, 240, 0.8);
    color: black;
    border: 2px solid rgba(200, 200, 200, 0.9);
    border-radius: 6px;
}
/* 
    Start screen styling
*/
#start-menu {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: center;

    text-align: center;
}

#player-creation {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

.player-entry {
    display: grid;
    grid-template-areas: "player-number player-number"
                         "name-label name-entry"
                         "cpu-label cpu-checkbox";

    gap: 1em;
    border-radius: 8px;
    background-color: #484848;
    padding: 0 1em 1em 1em;
}

.player-number {
    grid-area: player-number;
}

.name-label {
    grid-area: name-label;

    text-align: left;
}

.player-name {
    grid-area: name-entry;

    background-color: #eaeaea;
    color: #242424;
    font-size: 0.9em;
    border-radius: 8px;
}

.is-cpu-label {
    grid-area: cpu-label;

    text-align: left;
}

.is-cpu {
    grid-area: cpu-checkbox;
    width: min-content;
    background-color: #eaeaea;
}

#new-game {
    width: 10%;
    min-width: min-content;
    margin: 1em auto;
    font-size: 1.2em;
}

#game-over {
    position: absolute;
    top: 30%;
    width: 40%;
    padding: 2%;
    left: 28%;
    border-radius: 1em;
    background-color:rgba(36, 36, 36, 0.5);
    text-align: center;
}

#game-over-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#game-over-controls button {
    width: 40%;
}


/* Battle styles - game boards, ships, docks */

#in-game {
    display: flex;
    flex-direction: column;
}

.player-container {
    margin-top: 0;
}

#player-flex-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

#instructions{
    text-align: center;
}

.player-container {
    padding: 0 1em 1em 1em;
}

.name {
    text-align: center;
    font-size: 1.2em;
    margin: 0 auto auto auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.player-container.is-turn {
    box-shadow: 0 0 12px 8px green;
}

.player-container.idle {
    box-shadow: 0 0 12px 8px red;
}

.game-board {
    display: grid;
    /* gap: 2px; */
    place-content: center center;
}

.tile {
    /* width: 64px;
    height: 64px; */
    background-color: #244288;
    text-align: center;
    font-size: 18pt;
    font-family: monospace;
    border: 1px solid var(--bgcolor);
}

.game-board .tile.unknown:hover {
    background-color: #a00000;
}

.tile.empty {
    background-color: var(--bgcontrast);
}

.tile.ship {
    background-color: #696969;
    /* border: 1px solid #696969; */
}

.tile.damaged {
    background-color: #a00000;
    /* border: 1px solid #a00000; */
}

.tile.up-one {
    border-top: 1px dashed var(--bgcolor);
}

.tile.down-one {
    border-bottom: 1px dashed var(--bgcolor);
}

.tile.right-one {
    border-right: 1px dashed var(--bgcolor);
}

.tile.left-one {
    border-left: 1px dashed var(--bgcolor);
}

.tile.valid-ship-placement {
    background-color: #24aa24;
}

.tile.invalid-ship-placement {
    background-color: #aa2424;
}

.ship-dock {
    height: 10%;
    display: flex;
}

.ship-dock.inactive *{
    display: none;
}

.ship-container {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ship-placement-controls {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.placeable-ship {
    background-color: #696969;
}

#turn-switch {
    position: absolute;
    opacity: 0;
    width: 100%;
    transition: opacity 0.75s;
    background-color: var(--bgcolor);
    text-align: center;
    z-index: 999;
}

#turn-switch.show {
    opacity: 100;
}

#turn-switch :first-child {
    padding-top: 10%;
}

.hidden {
    display: none !important;
}